/* *{
    margin: 0px;
    padding: 0px;
} */

.main-div{
    width: 1100px;
    margin: 60px auto;
    background-color: #ddd;
    border: 2px solid green;    
    padding: 15px;

}

.test{
    text-align: center;
    padding: 10px 0px ;
    background-color: green;
    transition: 3s;
}
.test:hover{
    background-color: rgb(3, 32, 3);
    transition: .3s;
    border-radius: 30px;
    color: white;

}

.all-tag-test{
    color: white;
    border: 30px groove rgb(255, 0, 0);

    transition: 1s;

}
.all-tag-test:hover{
    border: 30px groove rgb(6, 139, 13);

}
h1{
    background-color: rgb(38, 0, 209);
}
h2{
    background-color: rgb(38, 0, 209);

}
h3{
    background-color: rgb(38, 0, 209);

}
h4{
    background-color: rgb(38, 0, 209);

}
h5{
    background-color: rgb(38, 0, 209);

}
h6{
    background-color: rgb(38, 0, 209);

}

p{
    background-color: rgb(38, 0, 209);

}
.div{
    background-color: rgb(38, 0, 209);

}

span{
    background-color: rgb(38, 0, 209);

}
b{
    background-color: rgb(38, 0, 209);

}

u{
    background-color: rgb(38, 0, 209);

}
i{
    background-color: rgb(38, 0, 209);

}

code{
    background-color: rgb(38, 0, 209);

}
.ul{
    background-color: rgb(38, 0, 209);
}
.li{
    background-color: rgb(38, 0, 209);
}
.ol{
    background-color: rgb(38, 0, 209);
}
.a{
    background-color: rgb(38, 0, 209);
}



                                         /* menu test */




.menu{
    border: 30px groove rgba(255, 0, 0, 0.815);

    text-decoration: none;
    text-align: center;
    /* height: 250px; */
    margin-top: 50px;
    transition: 1s;
}
.menu:hover{
    border: 30px groove rgba(0, 143, 12, 0.815);

}

.ul2{
    background-color: green;
}
.ul2 li{
    display: inline-block;
    margin-left: -5px;
}
.ul2 li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    border-left: 1px solid white;
    font-size: 20px;

}
.ul2 li:nth-child(5){
    border-right: 1px solid white;

}

.ul2 li a:hover{
    color: white;
    background-color: rgb(5, 73, 34);
    transition: .5s;
}
.background_image_section{
    padding: 250px 0;
    border: 10px groove tomato;
    margin-top: 30px;
    
    background: url(./image/pexels-photo-257360.jpeg);
    background-size: cover;
    background-position: center;
}
.background_image_section h1{
    color: white;
    text-align: center;
    padding: 20px 0;
    background: rgb(255, 0, 43);
}